*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:linear-gradient(
180deg,
#050816,
#0f172a
);
color:white;
min-height:100vh;
padding:20px;
}

.container{
max-width:1000px;
margin:auto;
}

.banner{
width:100%;
max-height:450px;
object-fit:cover;
border-radius:25px;
display:block;
margin:auto;
margin-bottom:25px;
box-shadow:
0 0 30px rgba(250,204,21,.20);
}

.hero{
text-align:center;
margin-bottom:30px;
}

.hero h1{
font-size:3rem;
color:#facc15;
margin-bottom:10px;
}

.hero p{
color:#cbd5e1;
}

.frase{
margin-top:15px;
font-style:italic;
color:#facc15;
font-size:1rem;
}

.perfil{
display:flex;
align-items:center;
gap:25px;
background:#111827;
padding:25px;
border-radius:25px;
margin-bottom:25px;
border:1px solid rgba(250,204,21,.15);
}

.avatar{
width:140px;
height:140px;
object-fit:cover;
border-radius:50%;
border:4px solid #facc15;
}

.perfil h2{
font-size:2rem;
margin-bottom:10px;
}

.perfil p{
margin-bottom:8px;
color:#cbd5e1;
}

.card{
background:#111827;
padding:25px;
border-radius:25px;
margin-bottom:20px;
border:1px solid rgba(255,255,255,.05);
transition:.3s;
}

.card:hover{
transform:translateY(-4px);
box-shadow:
0 0 25px rgba(250,204,21,.15);
}

.card h2{
margin-bottom:15px;
color:#facc15;
}

.barra{
width:100%;
height:20px;
background:#1e293b;
border-radius:999px;
overflow:hidden;
margin-top:10px;
}

.preenchida{
width:100%;
height:100%;
background:linear-gradient(
90deg,
#dc2626,
#ef4444
);
transition:.5s;
}

.missao{
background:#1e293b;
padding:15px;
border-radius:12px;
margin-bottom:10px;
cursor:pointer;
transition:.3s;
}

.missao:hover{
background:#334155;
}

.missao input{
margin-right:10px;
transform:scale(1.2);
cursor:pointer;
}

ul{
padding-left:20px;
}

li{
margin-bottom:10px;
}

.card p{
margin-bottom:10px;
}

#mensagem{
line-height:1.8;
font-size:1rem;
color:#e2e8f0;
}

hr{
border:none;
height:1px;
background:#334155;
margin:15px 0;
}

#classe{
font-weight:bold;
color:#facc15;
}

#nivel{
font-weight:bold;
color:#60a5fa;
}

#xp{
font-weight:bold;
color:#4ade80;
}

#bossHp{
font-size:1.1rem;
font-weight:bold;
margin-top:10px;
}

@media(max-width:768px){

.hero h1{
font-size:2rem;
}

.perfil{
flex-direction:column;
text-align:center;
}

.avatar{
width:180px;
height:180px;
}

.banner{
max-height:250px;
}

}
